head, body {
    background-color: white;
}

#sf1 {
    background-color:#F6F2FF;
}

#sf2 {
    background-color:#FFF4ED;
}

#lf1{
    background-color: #e4f5f2;
}

#register {
    margin-top:6%;
    margin-bottom: 6%;
}

#registerb {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size:16px;
    background-color: #5B1DDD;
    color: white;
    display: inline-block;
}

#registerb:hover {
    background-color: #a67dff;
}

#title {
    top:34%;
    left:13%;
    position:absolute;
}

.highlight {
    padding-left:0.5%;
    background: linear-gradient(180deg,rgba(255,255,255,0) 55%, #CBB7F4 55%,#CBB7F4 75%,rgba(255,255,255,0) 75%);
}

#graphic {
    position:relative;
    float:right;
    right:55%;
    top:20%;

}

#circle {
    position:absolute;
    background-color: #FEF8F4;
    height:800px;
    width:800px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#ct1 {
    flex-shrink: 0;
    width:70%;
}

.small-frame-content{
    text-align: center;
}

.subtitle {
    font-size: 36px;
    font-weight: 500;
    color: #262469;
    margin-bottom: 3%;
}
.paragraph {
    font-size: 20px;
    font-weight: 400;
    color: #262469;
    line-height: 90%;
    margin-bottom:5%
}

.read-more {
    position:relative;
    color: #5B1DDD;
    font-size: 20px;
    transition: 0.3s;
    margin-left:40%;
    margin-right:40%;
    padding:0;
}

.read-more:hover {
    transform: scale(1.1);
}

.read-more:active {
    transform: scale(1);
}
